#left a.externalLink {
  background: url(images/external.png) right center no-repeat;
  padding-right: 14px;
  color: #770000;
  border: 0px;
}

#left a.sublink {
  color: #aa0000;
}

li {
  padding-left: 2px;
  padding-right: 2px;
}
