a.externalLink, 
a.externalLink:link, 
a.externalLink:visited, 
a.externalLink:active, 
a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 15px;
  color: #700;
  border: 0px;
}